{% extends 'base.html'%}
{% load static %}
{% load bootstrap5 %}
{% block content %}
{% load bootstrap_icons %}

<div class="container">
    {% for img in images %}
    <div class="col-sm-4">
        <div class="card" style="width: 21rem;">
            <img src="{{img.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{img.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted"> {{img.caption}} </h6>
                <p class="card-text"> {{img.post_date}} </p>
                {% bs_icon 'heart-fill' color='black' %} {{img.likes}} 
            </div>
        </div>
    </div>

    {% endfor %}
    <div class="row justify-content-center mt-5">
        <div class="card shadow-sm col-md-8 col-sm-12 border-bottom px-5 py-3">
            {% if user == request.user %}
                {% else %}
                {% if is_following %}
                    <form method="POST" action="{% url 'Unfollow' %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger" type="submit">Unfollow</button>
                    </form>
                    {% else %}
                    <form method="POST" action="{% url 'Follow' %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-success" type="submit">Follow</button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% for post in posts %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 border-bottom">
            <div>
                <a href="{% url 'profile' post.name.profile.pk %}">
                    <img class="round-circle post-img" height="30" width="30" src="{{ post.name.profile_picture.url }}" />
                </a>
                <p class="post-text">
                    <a class="text-primary post-link" href="{% url 'profile' post.name.profile.pk %}">@{{ post.name }}</a> {{ post.created_on }}
                </p>
            </div>
            <div class="position-relative">
                <p>{{ post.caption }}</p>
            </div>

            <div class="d-flex flex-row">
                <form method="POST" action="{% url 'likes' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn" type="submit">
                        <i class="fa-solid fa-thumbs-up"><span>{{ post.likes.all.count }}</span></i>
                    </button>
                </form>
        </div>
        </div>
    </div>
    {% endfor %}
</div>



{% endblock %}