<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <a class="navbar-brand my-3" href="/home/" style="font-family: 'The Dongle', cursive; font-size:large;">Instaclone</a>
        
            <li>
                <a href="{%url 'upload_image' %}">Upload Image </a>
            </li>

            <li>
                <a href="{%url 'profile' %}">View Profile </a>
            </li>
            <li>
                <!-- {% comment %} <a href="/logout">Logout</a> {% endcomment %} -->
            </li>
        </a>
    </div>
</nav>