{% extends 'base.html'%}
{% load static %}
{% load bootstrap5 %}
{% block content %}
{% load bootstrap_icons %}


<div class="container">
    
    <div class="row ">
        <div class="col-md-3 col-sm-6">

        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="card shadow-sm col-md-8 col-sm-12 border-bottom px-5 pt-3">
            <div class="text-center">
                <img src="{{ profile.profile_picture.url }}" class="rounded-circle" width="100" height="100" />
                        {% if request.user == user %}
                        {% endif %}
                    </span>
                    {% else %}
                    <h3 class="py-4">{{ user.username }}
                    </h3>
                    {% endif %}
                </h3>
            </div>
            {% if profile.bio %}
            <p>{{ profile.bio }}</p>
            {% endif %}

            <div class="mb-3">
                
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="card shadow-sm col-md-8 col-sm-12 border-bottom px-5 py-3">
            {% if user == request.user %}
                {% else %}
                {% if is_following %}
                    <form method="POST" action="{% url 'Unfollow' %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger" type="submit">Unfollow</button>
                    </form>
                    {% else %}
                    <form method="POST" action="{% url 'Follow' %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-success" type="submit">Follow</button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% for post in posts %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 border-bottom">
            <div>
                <a href="{% url 'profile' post.name.profile.pk %}">
                    <img class="round-circle post-img" height="30" width="30" src="{{ post.name.profile_picture.url }}" />
                </a>
                <p class="post-text">
                    <a class="text-primary post-link" href="{% url 'profile' post.name.profile.pk %}">@{{ post.name }}</a> {{ post.created_on }}
                </p>
            </div>
            <div class="position-relative">
                <p>{{ post.caption }}</p>
            </div>

            <div class="d-flex flex-row">
                <form method="POST" action="{% url 'likes' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn" type="submit">
                        <i class="fa-solid fa-thumbs-up"><span>{{ post.likes.all.count }}</span></i>
                    </button>
                </form>
        </div>
        </div>
    </div>
    {% endfor %}
</div>



{% endblock %}